<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Whisperer - Anonymous Gossip</title>

    <!-- SEO -->
    <meta name="description" content="Effortless event management software for online registration, check-in, nametags, surveys, and more.">
        <meta name="viewport" content="width=device-width">

        <!-- Social sharing -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="post" />
    <meta property="og:description" content="gossip" />
    <meta property="og:image" content="person FB photo" />

    <!-- CSS & Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-icons/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/master.css" />

        <!-- Favicon -->
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

        <!-- Javascript -->
        <%= javascript_include_tag "post_create" %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
      <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
      <%= javascript_include_tag "bootstrap" %>
        <%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min" %>


    </head>
    <body>

      <!-- white content area -->
        <div class="content_area" style="min-height:500px;">

        <!-- title and subtitle -->
        <div class="container">

          <!-- search box -->
          <!-- this should be hidden after a name is selected -->
          <div class="row input-search-box">
            <div class="col-md-12">
                        <!--<div class="post_search_names_help">
                            1. choose a friend to post about
                        </div>-->
              <div class="post_search_names">
                <input type="text" class="input_post_search_names" placeholder="type a friend's name">
              </div>
            </div>
          </div>

          <!-- box of names -->
          <div class="row input-search-suggest">
            <div class="col-md-12">
                        </div>
            </div>
          </div>
          <%= form_for(@post) do |f| %>
          <!-- input - create post -->
          <div class="row input-message">
            <div class="col-md-12">
              <div class="post_text">
                
                <%= f.text_area :text, placeholder: "Compose new post" , class: "input_post_text "%>
                            <div class="word-counter"></div>
                <input type="hidden" name="post[mentioned]" id="hidden_uid">
              </div>
            </div>
          </div>

          <!-- button - post -->
          <div class="row input-submit">
            <div class="col-md-12" id="home_signup">
              
              <%= f.submit "Post", class: "btn btn-success", id:"cta_home_signup" %>
              <% end %>
              <div id="home_signup_hint">
                don't worry, <!-- dynamic name --><span class="dyname">John </span> will never know it was you.
              </div>
            </div>
          </div>

        </div><!-- close container - title and subtitle -->
      </div><!-- close content area -->

    </body>
  </html>

  <script type="text/javascript">
  $(document).ready(function() {

    // handle friend input search
    var friends = [];

    $.getJSON('http://whisperer.herokuapp.com/users/friends/<%= current_user.uid %>.json',
            function(data) {
                friends = data;
            });

    $(".input_post_search_names").on("keyup", function () {
        var name = this.value;

        if (name.length < 3) {
            $('.input-search-suggest')[0].innerHTML = '';
        } else {
            results = find(name, friends);
            suggest(results, $('.input-search-suggest')[0]);
        }

    });

    $(".input_post_text").on("keyup keydown blur", function () {
        var name = this.value;

        if (name.length >= 130) {
            this.value = name.substring(0, 130);
        }

        $('.word-counter').text((130 - this.value.length) + ' out of 130 characters remaining');

    });

});

// find the given name in the list of tokens
var find = function (name, friends) {
    // the array of results
    var results = [];
    // serach the tokens for potential matches
    for (var i = 0; i < friends.length; i++) {
        // create a new regular expression, which will find the name
        var findname = new RegExp("\\b" + name + "[a-zA-Z]*",'i');
        // if the token is a substring
        var found = findname.exec(friends[i].name);
        // if we find the name add it to the results
        if (found !== null) results.push(friends[i]);
    }
    // return all the results
    return results;
};

// suggests matches based on the give array
var suggest = function (matches, suggestions) {
    // clear the suggestions box
    suggestions.innerHTML = '';
    // iterate through all the matches
    for (var i = 0; i < matches.length; i++) {
        // create a div element for every match
        var elem = document.createElement('div');
            elem.className = 'post_box_person_create person' + matches[i].id;
            elem.innerHTML = '<a href="#"><div class="pull-left"><img src="' + matches[i].image +'" class="img_face img-circle img-responsive"></div>' +
                    '<div class="pull-left"><div class="post_name_create">' + matches[i].name +
                    '</div></div><div class="clearfix"></div></div></a>';
          elem.onclick = slideSelect.bind(this, matches[i]);
        // add the div element to the suggestions
        suggestions.appendChild(elem);
    }
};

var slideSelect = function (match) {
    $('#hidden_uid').val(match.id)

    $('.input-search-box').animate({
        opacity: 0,
        'margin-top': '-200px'
     }, 300, function() {
        $('.input-message,.input-submit').fadeIn(300);
     });

    $('.input-search-suggest').animate({
        'margin-top': '150px'
     }, 300, function() {});

    $('.post_box_person_create:not(.person' + match.id + ')').animate({
        opacity: 0,
        height: 0,
        'margin-top': 0, 'margin-bottom': 0, padding: 0,
        overflow: 'hidden'
     }, 300, function() {
        this.remove();
     });

};

  </script>
